<!-- ko with: home -->
<div class="jumbotron">
    <h1>OAUTH Authentication</h1>
    <p class="lead">OAuth (Open Authorization) is an open standard for token-based authentication and authorization on the Internet. OAuth, which is pronounced "oh-auth," allows an end user's account information to be used by third-party services, such as Facebook, without exposing the user's password.</p>
    <p><a href="https://oauth.net/2/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your Details:</h2>
         <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="https://oauth.net/2/">Learn more &raquo;</a></p>
    </div>

    
</div>

<!-- /ko -->
